#include <stdexcept>
#include "table_factory.h"
#include "table.h"

BaseTable* TableFactory::Create(TableSpec& spec) {

  size_t dims_count = spec.DimsCount();
  size_t metrics_count = spec.MetricsCount();

{% for size in tables.split(",") %}
{% set dims = size.split("x")[0]|int %}
{% set metrics = size.split("x")[1]|int %}
  if (dims_count == {{ dims }} && metrics_count == {{ metrics }}) {
    return new Table<{{ dims }},{{ metrics }}>(spec);
  }
{% endfor %}

  throw std::invalid_argument(
      "This store supports tables with following sizes only: {{ tables }}"
  );
}

